*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #FDEBF7;
}
.menu a {
    text-decoration: none;
   }
 .menu li {
    list-style: none;
   }
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}
.nav-links a {
color: #fff;
}
/* LOGO */
.logo {
font-size: 32px;
}
/* NAVBAR MENU */
.menu {
display: flex;
gap: 1em;
font-size: 18px;
}
.menu li:hover {
background-color: #4c9e9e;
border-radius: 5px;
transition: 0.3s ease;
}
.menu li {
padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    display: block;
position: relative; 
}
.dropdown {
background-color: rgb(1, 139, 139);
padding: 1em 0;
position: absolute; /*WITH RESPECT TO PARENT*/
display: none;
border-radius: 8px;
top: 32px;
}
.services:hover .dropdown{display: block;}
.dropdown li + li {
margin-top: 10px;
}
.dropdown li {
padding: 0.5em 1em;
width: 8em;
text-align: center;
}
.dropdown li:hover {
background-color: #4c9e9e;
}
.services:hover .dropdown {
display: block;
}
.center {
    margin:0 auto;
    display:block;
    text-align:center;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}
a .box{
    text-align: center;
    width: 20%;
    height: 100px;
    margin-right: 2%;
    margin-bottom: 5px;
    height:140px;
    display:inline-block;
    background-color: teal;
    color: #fff;
    border-radius: 15px;
}
